.achievements {
  font-family: "Roboto Mono", monospace;
  color: white;
}

.achievements--main {
  min-height: 100vh;
  padding: 50px 0;
  background-color: rgba(29, 30, 42, 0.7);
  position: relative;
}

.achievements--heading {
  font-size: 80px;
  color: #ffcc55;
  font-family: "Protest Strike", sans-serif;
  margin: 10px 0 -10px 100px
}

.achievements--subheading {
  margin: 10px 0 60px 100px;
  color: rgb(196, 196, 196);
  font-size: 20px;
}

.achievements--background {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.achievements--grid {
  display: flex;
  padding-left: 80px;
  flex-direction: column;
  gap: 30px;
}
