.experience {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* image */

.experience--image_container {
  background-color: darkcyan;
  width: 200px;
  height: 200px;
  border-radius: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.experience--image_container img {
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.experience--texts {
  width: 350px;
}

.experience--description {
  font-size: 15px;
  font-weight: 200;
}

/* texts */

.experience--name {
  font-size: 20px;
  font-weight: 700;
}

.experience--type {
  font-size: 18px;
  margin: 8px 0;
}