.selectedCommunityEngagement {
  border: 4px solid white;
  /* width: 32%; */
  /* width: 100%; */
  /* width: 380px; */
  /* height: 490px; */
  border-radius: 4px;
  cursor: pointer;
  transition: box-shadow 0.5s, scale 0.5s;
  /* transition: scale 0.5s; */
}

.selectedCommunityEngagement:hover {
  box-shadow: 8px 8px 2px darkcyan;
  scale: 1.02;
}

/* image */

.selectedCommunityEngagement--image_container {
  width: 100%;
  height: 250px;
  background-color: rgb(5, 85, 85);
  border-bottom: 4px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.selectedCommunityEngagement--image {
  height: 100%;
  /* width: 100%; */
  object-fit: cover;
  object-position: center;
  transition: height 0.5s;
}

.selectedCommunityEngagement:hover .selectedCommunityEngagement--image {
  height: 120%;
}

/* description */

.selectedCommunityEngagement--descriptions {
  padding: 20px;
  line-height: 25px;
}

.selectedCommunityEngagement--name {
  font-size: 25px;
}

.selectedCommunityEngagement--type {
  font-size: 20px;
  margin-top: 10px;
  font-weight: 300;
}

.selectedCommunityEngagement--overview {
  margin-top: 15px;
  font-weight: 200;
}