.projects {
  font-family: "Roboto Mono", monospace;
  color: white;
}

.projects--main {
  /* height: 100vh; */
  padding: 50px 0;
  position: relative;
  background-color: rgba(29, 30, 42, 0.7);
  min-height: 100vh;
}

.projects--background {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.projects--heading {
  font-size: 80px;
  /* color: white; */
  color: #ffcc55;
  font-family: "Protest Strike", sans-serif;
  margin: 10px 0 -10px 100px
}

.projects--subheading {
  margin: 10px 0 60px 100px;
  color: rgb(196, 196, 196);
  font-size: 20px;
}

.projects--grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  /* padding: 0 100px; */
  padding: 0 20px;
  gap: 10px;
}