.projectDetails {
  background-color: aliceblue;
  /* height: 100vh; */
  /* font-family: 'Courier New', Courier, monospace; */
  font-family: "Roboto Mono", monospace;
  font-size: 16px;
}

.projectDetails--main {
  padding: 40px;
  min-height: 80vh;
}

.projectDetails--backButton {
  cursor: pointer;
  /* display: inline-block; */
  display: inline-flex;
  gap: 20px;
  align-items: center;
  padding: 0 10px;
}

.projectDetails--backButton:hover {
  background-color: black;
  color: white;
}

.projectDetails--name {
  font-family: "Protest Strike", sans-serif;
  font-size: 80px;
}

.projectDetails--type {
  font-size: 30px;
  color: gray;
  padding: 0 40px;
}

.projectDetails--sections {
  padding: 20px 150px 20px 40px;
}

.projectDetails--section {
  margin: 20px 0;
}

.projectDetails--sectionHeading {
  font-size: 30px;
  font-weight: bolder;
}

.projectDetails button {
  background-color: inherit;
  /* width: 100%; */
  padding: 10px;
  border: 5px solid black;
  transition: 0.05s;
  transition-property: background-color, color;
}

.projectDetails button:hover {
  background-color: black;
  color: white;
}
