.selectedAchievement {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

/* image */

.selectedAchievement--image_container {
  background-color: rgb(160, 160, 160);
  width: 200px;
  height: 200px;
  border-radius: 1000px;
}

.selectedAchievement--texts {
  width: 350px;
}

.selectedAchievement--description {
  font-size: 15px;
  font-weight: 200;
}

/* texts */

.selectedAchievement--trophy_container {
  display: flex;
  gap: 8px;
  align-items: center;
  margin: 10px 0;
}

.selectedAchievement--trophy {
  width: 20px;
  height: 20px;
}

.selectedAchievement--trophy_tag {
  background-color: rgb(210, 193, 95);
  color: black;
  border-radius: 10%;
  padding: 2px 10px;
  /* box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8); */
}

.selectedAchievement--name {
  font-size: 20px;
  font-weight: 700;
}

.selectedAchievement--type {
  font-size: 18px;
  margin: 8px 0;
}
